:root{
  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
  --color-white: #2B2D31;
  --color-gray: hsl(252, 15%, 65%);
  --color-light:hsl(0, 0%, 96%);
  --color-dark: hsl(252, 30%, 17%);
  --color-primary: #FF000E;
  --color-success: hsl(120, 95%, 60%);
  --color-danger: hsl(0, 95%, 65%);
  --color-black: hsl(252, 30%, 10%);
  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
  
  }
  
  .profile-pic{
    width: 2.7rem;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  img{
    display: block;
    width: 100%;
  }
  
  .btnm{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 400;
    border-radius: var(--border-radius );
    border: black 1px none ;
    cursor: pointer;
    transition: all 300ms ease;
    margin: 2px;
    color: #fff;
  }
  
  .btnm:hover{
    opacity: 0.8;
  }
  
  .btnm-primary{
    background: var(--color-primary);
    color: rgb(255, 255, 255);
  }
.rightbar {
    flex: 3.5;
  }
  
  .rightbarWrapper {
    padding: 20px;
  }
  
  .birthdayContainer {
    display: flex;
    align-items: center;
  }
  
  
  
  
  
  .rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }

 .right{
    height: max-content;
    position: sticky;
    top: var(--sticky-top-right);
    bottom: 0;
}

.messages{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    
}

 



.search-bar{
    display: flex;
    margin-bottom: 1rem;
}

.category{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.category h6{
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--color-light);
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
}

 .active{
    border-color: var(--color-dark);
}

 .message-requests{
    color: var(--color-primary);
}

 .profile-pic{
    position: relative;
    overflow: visible;
    
}

.profile-pic img{
    border-radius: 50%;
}

 .message{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

 .message:last-child{
    margin: 0;
}

p{
    font-size: 0.8rem;
}

 .profile-pic .active{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    background: var(--color-success);
    position: absolute;
    bottom: 0;
    right: 0;
    
}


 .friend-requests{
    margin-top: 1rem;
}

 .friend-requests h4{
    color: var(--color-gray);
    margin: 1rem 0;
}

 .request{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
}

 .info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.action{
    display: flex;
    gap: 1rem;
}


/* Media queries for responsive website */
/* for laptop and big tablets */
@media screen and (max-width:1200px) {
    .container{
        width: 96%;
    }
    main .container{
        grid-template-columns: 5rem auto 30vw;
        gap: 1rem;
    }
    .left{
        width: 5rem;
        z-index: 5;
    }
    .main .container .left .profile{
       display: none; 
    }
    .sidebar h3{
        display: none;
    }
    .left .btn{
        display: none;
    }
}


/*  For small tablets and mobile phones */
@media screen and (max-width: 992px){
    nav .search-bar{
        display: none;
    }
    main .container{
        grid-template-columns: 0 auto 5rem;
        gap: 0;
    }
    main .container .left{
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .left .notifications-popup{
        position: absolute;
        left: -20rem;
        width: 20rem;
    }
    .left .notifications-popup::before{
        display: absolute;
        top: 1.3rem;
        left: calc(20rem - 0.6rem);
        display: block;
    }
    main .container .middle{
        grid-column: 1/3;   
    }
    main .container .right{
        display: none;
    }
}


/* ------------------ Edit profile -------------------- */

a {
  text-decoration: none !important;
  color: #fff !important;

}
.style {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff !important;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
 text-decoration: none !important;
}

#editbtn{
    text-decoration: none !important;
     color: #fff !important;
}
.style:hover {
  background-color: rgba(255, 0, 0, 1);
}

.style:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}




